.contenedor {
	max-width: 1200px;
	width: 90%;
	margin: auto;
}
.contenido-principal {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
}

.contenido-principal__imagen {
	vertical-align: top;
	margin-right: 20px;
	width: 50%;
	max-width: 550px;
}

.contenido-principal__contenedor {
	width: 50%;
}

.contenido-principal__titulo {
	font-weight: normal;
	font-size: 28px;
}

.contenido-principal__resumen {
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	color: #CFCFCF;
}

#titulo{
    background-color: #030A49;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0%;
    left: 0%;
}
.logo{
       width: 20%;
       text-align: right;



} 
#logop{
  width: 80px;
  height: 50px;  
}
.nav-menu{
  display: flex;
  margin-right: 40px;
  list-style: none;
}
.nav-item{
  font-size: 18px;
  margin: 0px 10px;
  line-height: 50px;
  text-transform: uppercase;
  width: max-content;
}
.nav-item-link{
  background-color: #030A49;
  color: white;
  font-family: Verdana;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 3px;
}
.nav-item-link:hover{
  background-color: #0F74D1;
  transition: 0.5s;
}
#navega{
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}
#navega p{
      text-align: center;
      color:white;
}
.nav-toggle{
  background: none;
  color: white;
  border: none;
  font-size: 30px;
  line-height: 60px;
  padding: 0px 20px;
  display: none;
  cursor: pointer;
}
@media (max-width: 768px){
  body{
padding-top: 60px;
  }
  #titulo{
    height: 70px;
}
.logo{
  line-height: 40px;
  padding: 20px 20px;
}
#logop{
  width: 60px;
  height: 30px;  
}
.nav-menu{
  flex-direction: column;
  margin-right: 0px;
  background-color: #45505B;
  position: fixed;
  left: 0%;
  top: 50px;
  width: 100%;
  align-items: center;
  padding: 20px 0px;
  height: calc(100%-50px);
  overflow-y: auto;
  left: 100%;
  transition: left 0.3s;
}
.nav-item{
  line-height: 40px;
}
.nav-item-link{
  background-color: #45505B;
}
.nav-item-link:hover{
color: #0F74D1;
}
.nav-toggle{
  display: block;
}
.nav-menu_visible{
left: 0%;
}

* {
	box-sizing: border-box;
}
}
body {
	background: #1D1D1F;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.contenedor {
	max-width: 1200px;
	width: 90%;
	margin: auto;
}

@media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}


.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #fff;
	opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}


